html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: #6d0605;
    font-family: 'Poppins', sans-serif; 
    scroll-behavior: smooth;
}

.bgshade{
    padding-top: 4%;
    background-image: url('https://i.ibb.co/H4fR1rL/WEBSITE-DESIGN-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

fieldset {
    border-radius: 10px;
    width: 75%;
    padding: 20px;
}

.name-section, .Info-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2px;
}

input {
    border-color: gray;
    border-radius: 17px;
    height: 20px;
    width: 21.5vw;
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
}


h3 {
    margin-top: 50px;
    margin-left: 100px;
    color: #273811;
    font-size: xx-large;
}

h3 {
    font-size: 2.5rem;
    margin-top: 88px;
    margin-left: 45px;
    position: relative;
}

h3:hover {
    text-shadow:1px 1px 10px #00000007, 1px 1px 10px #00000015;
    transition: font 1s ease-in;
    transition: font 0.3s ease-out;
}

h3::after {
    content: '';
    display: block;
    width: 0;
    height: 7px;
    background-color: #6d0605;
    transition: width 0.3s ease-in-out;
    position: absolute;
}

h3:hover::after {
    width: 15%;
}
form {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

fieldset{
    background-color: rgba(255, 255, 255, 0.685);
    border-radius: 36px;
    background: #fff;
    border: 4px solid #b8b8b8;
    overflow: hidden;
    box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.062); 
    transition: transform 0.3s ease, border-color 0.3s ease; 
}

input[type=text] {
    border: #b8b8b8 3px solid;
}

label {
    font-style: italic;
    font-weight: bold;
    font-size: 1.1rem;
}

.submission{
    color: #b8b8b8;
}

button {
    font-size: 40px;
    font-weight: bold;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #004a20;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

button a {
    text-decoration: none;
    color: white;
}

.lowertButtons {
    display: flex;
    justify-content: space-around;
    clear: both;
    
}

#fileReq {
    visibility: hidden;
}

.submission {
    background-color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border: solid 2px gray;
    border-radius: 17px;
    cursor: pointer;
    width: 97.5%;
    height: 40px;
    float: left;
    margin-bottom: 50px;
    display: flex;                
    justify-content: center;      
    align-items: center;           
}

.submissionname {
    font-size: large;
}

@media(max-width: 900px) {
    h3 {
        font-size: 2.3rem;
    }

    .name-section, .Info-section {
        flex-direction: column;
        gap: 15px;
    }

    input, .submission {
        width: 94%;
    }

    .lowertButtons {
        gap: 10px;
    }
}