/*About Part*/
#About_background {
    background-image: url('https://i.ibb.co/3zwJf8D/2560px-UPMin-EBL.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70%;
    margin-top: -19px;
    padding-top: 2rem;
}

.shadeOfAbout {
    background: linear-gradient(to right, #6d0605,  #6d0605, #6d070500);
    height: 100%;
    width: 65%;
    padding: 10px;
}

h3, .about {
    width: 25%;
    color: white;
    text-shadow: 2px 2px 3px #0000006c;
}

h3 {
    font-size: 2.5rem;
    margin-top: 100px;
    margin-left: 45px;
    position: relative;
}

h3:hover {
    text-shadow:1px 1px 10px #0000006b, 1px 1px 10px #0000008f;
    transition: font 1s ease-in;
    transition: font 0.3s ease-out;
}

h3::after {
    content: '';
    display: block;
    width: 0;
    height: 7px;
    background-color: #ffbd59;
    transition: width 0.3s ease-in-out;
    position: absolute;
}

h3:hover::after {
    width: 25%;
}
.about {
    margin-left: 45px;
    width: 60%;
    line-height: 1.3;
    font-size: 1.5vw;
}

.highlight {
    color:  #ffbd59;
}
@media (max-width: 1080px){
    .About_background {
        height: 80%;
    }
    .shadeOfAbout {
        width: 75%;
    }

    h3 {
        font-size: 30px;
        margin: 60px 0 40px 15px;
    }
    .about {
        font-size: 2.2vw;
        margin-left: 15px;
        width: 45%;
    }

    h3:hover::after {
        width: 55%;
    }
}
@media (max-width: 480px) {
    .About_background {
        height: 67%;
    }

    .shadeOfAbout {
        width: 75%;
    }

    h3 {
        font-size: 30px;
        margin: 60px 0 40px 15px;
    }

    .about {
        font-size: 3.5vw;
        margin-left: 15px;
        width: 45%;
    }
}
  