html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: #6d0605;
    font-family: 'Poppins', sans-serif; 
    scroll-behavior: smooth;
}

.req-about {
    display: flex;
    height: 1000px;
    position: relative;
    height: auto;
}
  
.req-about > div {    
    flex: 1;
    position: relative;
}
  
.info {
    background-image: url('https://i.ibb.co/H4fR1rL/WEBSITE-DESIGN-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 3%;
    height: fit-content;
    display: flex;
    flex-grow: 3;
    padding-right: 2.5rem;
    
}

.Picture {
    background-image: url('https://i.ibb.co/5ThWkc4/image-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 3%;
    display: flex;
    top: 0;
    left: 0;
    height: auto;
    
}

.class-info{
    margin-top: 75px;
    margin-bottom: 40px;
}

.ReqBold, h3 {
    font-weight: bold;
    color: #273811;
}

.ReqIndent {
    color: #273811;
    text-indent: 25px;
}


p, h3, ol, ul {
    margin-left: 40px;
    font-size: 1rem;
}

.ReqBold, .ReqBold-first,.ReqBold-second{
    margin-left: 40px;
    font-size: 1rem;
}

.ReqIndent-first{
    margin-left: 60px;
}
.first {
    margin-top: -10px;
}

.second {
    text-align: justify;
}

button {
    font-size: 40px;
    font-weight: bold;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0;
}

.lowertButtons {
    display: flex;
    justify-content: space-around;
}

img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}

.info {
    width: 100%;
}

h3 {
    font-size: 2.3rem;
    margin-left: 45px;
    position: relative;
}

h3:hover {
    text-shadow:1px 1px 10px #00000011, 1px 1px 10px #00000000;
    transition: font 1s ease-in;
    transition: font 0.3s ease-out;
}

h3::after {
    content: '';
    display: block;
    width: 0;
    height: 7px;
    background-color: #6d0605;
    transition: width 0.3s ease-in-out;
    position: absolute;
}

.class-info{
    margin-right: 40px;
    text-align: justify;
}

h3:hover::after {
    width: 7.5%;
}

button {
    font-size: 40px;
    font-weight: bold;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #004a20;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

button a {
    text-decoration: none;
    color: white;
}
@media (max-width: 430px) {
    .class-info{
        margin-right: 30px;
        text-align: justify;
    }

    .ReqBold, .ReqBold-first,.ReqBold-second{
        margin-left: 40px;
        margin-right: 50px;
        font-size: 1rem;
        display: flex;
    }

    .ReqIndent-first{
        margin-left: 60px;
        margin-right: 30px;
        font-size: 1rem;
        display: flex;
    }
    p, ol, ul {
        font-size: 1rem;
    }
    h3{
        font-size: 2rem;
    }

    .Picture {
        display: none;
    }
}

@media (max-width: 768px) {
    .ReqBold, .ReqBold-first,.ReqBold-second{
        margin-left: 40px;
        font-size: 1rem;
    }

    .class-info{
        margin-right: 40px;
        text-align: justify;
    }

    .ReqIndent-first{
        margin-left: 60px;
        font-size: 1rem;
    }
    p, ol, ul {
        font-size: 1rem;
    }
    h3{
        font-size: 2rem;
    }

    .Picture {
        display: none;
    }
}



